*{
	font-family:helvetica;
	color:white;
	background-color:#A6A6A6;
}
th, td{
	border:1px solid black;
	padding:0.3em;
}
tr td:nth-child(2){
	text-align:center;
	min-width:22px;
}
table{
	float:left;
}
div{
	position:absolute;
	left:50%;
	transform:translateX(-50%);
}
.blue th, .blue td{
	border-color:blue;
	background-color:#66CCFF;
}
.yellow th, .yellow td{
	border-color:yellow;
	background-color:#FFCC00;
}
.red th, .red td{
	border-color:red;
	background-color:#CC3300;
}
.green th, .green td{
	border-color:green;
	background-color:#33CC33;
}
.orange th, .orange td{
	border-color:orange;
	background-color:#FF9933;
}
.purple th, .purple td{
	border-color:purple;
	background-color:#993366;
}